<launch>

    <node name="pieces_executor" pkg="proyecto" type="shapes_executor.py" output="screen">
    </node>

    <node name="pieces_detection" pkg="proyecto" type="NEW_deteshapes_detection_node.py" output="screen">
    </node>

    <node name="hanoi_detection" pkg="proyecto" type="hanoi_node.py" output="screen">
    </node>

    <node name="hanoi_executor" pkg="proyecto" type="hanoi_detection_node.py" output="screen">
    </node>
</launch>