<launch>
    <group ns="cam1">
        <include file="$(find launcher_robots_lab_robotica)/launch/launch_cam.launch">
            <arg name="cam_path" value="/dev/video6"/>        
        </include>
    </group>
    <group ns="cam2">
        <include file="$(find launcher_robots_lab_robotica)/launch/launch_cam.launch">
            <arg name="cam_path" value="/dev/video2"/>
        </include>
    </group>
    <include file="$(find launcher_robots_lab_robotica)/launch/robot_205.launch"/>
</launch>