<launch>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <include file="$(find ur3e_204_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="moveit_controller_manager" value="fake" />
        <arg name="fake_execution_type" value="interpolate"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="pipeline" value="ompl"/>
        <arg name="load_robot_description" value="true"/>
    </include>

    <include file="$(find ur3e_204_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find ur3e_204_moveit_config)/launch/moveit.rviz"/>
        <arg name="debug" value="false"/>
    </include>
</launch>
